<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AllTestsSuite">
    <suite-files>
        <suite-file path="testng/healthCheckSuite.xml" />
        <suite-file path="testng/loginSuite.xml" />
        <suite-file path="testng/newCheckingSuite.xml" />
        <suite-file path="testng/viewCheckingSuite.xml" />
    </suite-files>
</suite>